<script>
const uploadForm = document.querySelector('.upload')
uploadForm.addEventListener('submit', function(e) {
   e.preventDefault()
   let file = e.target.uploadFile.files[0]
   let formData = new FormData()
   formData.append('file', file)
   fetch('http://localhost:3000/upload_files', {
      method: 'POST',
      body: formData
   })
   .then(data => {
      if (data.errors) {
         alert(data.errors)
      }
      else {
         console.log(data)
      }
   })
})
 </script> 



<form class="upload">
   <input type="file" name="uploadFile" />
   <br/><br/>
   <input type="submit" />
</form>